<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freesofts.desktop.mapper.MapConfigMapper">

    <sql id="Base_Column_List">
        id, org_id as orgId, map_name as mapName, created_by as createBy,creator_name as creatorName,
               created_date as createdDate,last_modified_by as lastModifiedBy,
               last_modified_name as lastModifiedName,last_modified_date as lastModifiedDate
    </sql>

    <sql id="pageList_common_where_if">
        <if test="query.orgId != null and query.orgId != ''">
            and org_id = #{query.orgId}
        </if>
    </sql>

    <insert id="insert">
        insert into map_config(id, org_id, map_name, created_by, creator_name, created_date)
        values (#{mapConfig.id}, #{mapConfig.orgId}, #{mapConfig.mapName},
                #{mapConfig.createdBy}, #{mapConfig.creatorName}, SYSDATE());
    </insert>

    <delete id="deleteByIds">
        delete from map_config where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="selectPageList" resultType="java.util.HashMap" parameterType="com.freesofts.model.vo.MapConfigQueryVO">
        select <include refid="Base_Column_List"/>
        from map_config
        <where>
            <include refid="pageList_common_where_if"/>
        </where>
    </select>

    <select id="selectCount" resultType="java.lang.Long" parameterType="com.freesofts.model.vo.MapConfigQueryVO">
        select count(id)
        from map_config
        <where>
            <include refid="pageList_common_where_if"/>
        </where>
    </select>

    <select id="detail" resultType="java.util.HashMap">
        select <include refid="Base_Column_List"/>
        from map_config where id = #{id}
    </select>


</mapper>