<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.freesofts.desktop.mapper.PageLabelMapper">
    <sql id="BASE_COLUMN">
        id,
        name, sort, category_id, unique_code, created_by, creator_name, created_date, last_modified_by, last_modified_name, last_modified_date
    </sql>

    <sql id="WHERE_IF">
        <if test="queryVO.name != null and queryVO.name != ''">
            and `name` like concat("%",#{queryVO.name},"%")
        </if>
        <if test="queryVO.categoryId != null and queryVO.categoryId != ''">
            and category_id = #{queryVO.categoryId}
        </if>
    </sql>


    <insert id="insertLabelPage">
        insert into desktop_label(id, name, sort, created_by, creator_name, created_date, category_id, unique_code)
        values (#{labelPage.id}, #{labelPage.name}, #{labelPage.sort}, #{labelPage.createdBy}, #{labelPage.creatorName},
                #{labelPage.createdDate}, #{labelPage.categoryId}, #{labelPage.uniqueCode})
    </insert>
    <update id="update">
        update desktop_label
        <set>
            <if test="labelPage.name != null and labelPage.name != ''">
                name = #{labelPage.name},
            </if>
            <if test="labelPage.sort != null and labelPage.sort != ''">
                sort = #{labelPage.sort}
            </if>
        </set>
        where id = #{labelPage.id}
    </update>
    <delete id="deleteByIds">
        delete from desktop_label where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <select id="selectPageLabelList" resultType="com.freesofts.model.model.LabelPage">
        select id, name, sort
        from desktop_label
        where category_id = #{categoryId}
        order by sort
    </select>
    <select id="selectAll" resultType="com.freesofts.model.model.LabelManage">
        select id, name, sort, parent_id, unique_code, state
        from desktop_label_manage
    </select>
    <select id="findMaxUniqueCode" resultType="java.lang.String">
        select MAX(unique_code)
        from desktop_label
    </select>
    <select id="selectByUniqueCode" resultType="com.freesofts.model.model.LabelPage">
        select *
        from desktop_label
        where unique_code = #{uniqueCode}
    </select>
    <select id="selectCount" resultType="java.lang.Long">
        select count(0)
        from desktop_label
        where category_id = #{categoryId}
    </select>
    <select id="selectListByCategoryId" resultType="com.freesofts.model.model.LabelPage">
        select
        <include refid="BASE_COLUMN"/>
        from desktop_label
        <where>
            <include refid="WHERE_IF"/>
        </where>
        order by sort, created_date desc
        limit #{pageStart},#{pageSize}
    </select>
    <select id="selectById" resultType="com.freesofts.model.model.LabelPage">
        select id,
               name,
               sort,
               created_by,
               creator_name,
               created_date,
               last_modified_by,
               last_modified_name,
               last_modified_date,
               category_id,
               unique_code
        from desktop_label
        where id = #{id}
    </select>
    <select id="selectLabelSons" resultType="com.freesofts.model.model.LabelPage">
        select *
        from desktop_label
        where category_id in (
            with recursive main as
                               (select temp.*
                                from desktop_category temp
                                where id = #{id}
                                union all
                                select tmp.*
                                from desktop_category tmp
                                         inner join main on tmp.parent_id = main.id
                               )
            select main.id
            from main
        )
    </select>
</mapper>